{% extends 'app/layout.html' %}

{% block content %}

        <h1>Welcome</h1>
        <form method="post">
		{% csrf_token %}
		{{ form }}
		<button>Enviar</button>



		<h2>Lista de viajes en blablaCar</h2>
        <ul>
            {% for blablaTrip in blablaTrips %}
			
            <li>
                {{blablaTrip.trip.departureDate}}
				{{blablaTrip.trip.arrivalDate}}
                {{blablaTrip.trip.price}}

				{{blablaTrip.link}}

            </li>
          
            {% endfor %}
        </ul>



        <h2>Lista de viajes en avión (Skyscanner)</h2>
        <ul>
            {% for skyscannerTrip in skyscannerTrips %}
			
            <li>
                {{skyscannerTrip.trip.departureDate}}
				{{skyscannerTrip.trip.arrivalDate}}
                {{skyscannerTrip.trip.price}}

				{{skyscannerTrip.airlineName}}
                {{skyscannerTrip.Node.name}}
                {{skyscannerTrip.Node.code}}



            </li>
          
            {% endfor %}
        </ul>

        <h2>Lista de viajes en bus</h2>
            <ul>
                {% for busTrip in busTrips %}
                
                <li>
                    {{busTrip.trip.departureDate}}
				    {{busTrip.trip.arrivalDate}}
                    {{busTrip.trip.price}}

                    {{busTrip.Node.departureNode.name}}
                    {{busTrip.Node.arrivalNode.name}}

                   

                </li>
            
                {% endfor %}
        </ul>



        <h2>Lista de viajes en tren</h2>
            <ul>
                {% for trainTrip in trainTrips %}
                
                <li>
                    {{trainTrip.trip.departureDate}}
				    {{trainTrip.trip.arrivalDate}}
                    {{trainTrip.trip.price}}

                    {{trainTrip.Node.departureNode.name}}
                    {{trainTrip.Node.arrivalNode.name}}

                   

                </li>
            
                {% endfor %}
        </ul>

	</form>

{% endblock %}
