{% extends 'app/layout.html' %}

{% block content %}

        <h1>Welcome</h1>
        <form method="post">
		{% csrf_token %}
		{{ form }}
		<button>Enviar</button>



		<h2>Lista de viajes en blablaCar</h2>
        <ul>
            {% for blablaTrip in blablaTrips %}
			
            <li>
                {{blablaTrip.trip.departureDate}}
				{{blablaTrip.trip.arrivalDate}}
                {{blablaTrip.trip.price}}

				{{blablaTrip.link}}

            </li>
          
            {% endfor %}
        </ul>



        <h2>Lista de viajes en avión (Skyscanner)</h2>
        <ul>
            {% for skyscannerTrip in skyscannerTrips %}
			
            <li>
                {{skyscannerTrip.trip.departureDate}}
				{{skyscannerTrip.trip.arrivalDate}}
                {{skyscannerTrip.trip.price}}

				{{skyscannerTrip.airlineName}}
                {{skyscannerTrip.Node.name}}
                {{skyscannerTrip.Node.code}}



            </li>
          
            {% endfor %}
        </ul>
	</form>

{% endblock %}
