<!DOCTYPE html>

<html>

<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">




</head>



<body>
    <h1>TravelApp</h1>

    {% block form-block %} {% endblock %} {% block map-block %} {% endblock %} {% block trips-block %} {% endblock %} {% block moovit %} {% endblock %} {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <script>
            window.alert("{{ message }}")
        </script>

        {% endfor %}
    </ul>
    {% endif %}

</body>

</html>