body {
    background-color: #000000;
    color: rgb(248, 242, 242);
}

.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
    grid-template-rows: 0.3fr 0.3fr 0.3fr 10fr auto;
    gap: 0px 0px;
    grid-template-areas: "L1 F1 L2 F2 L3 F3""L4 F4 L5 F5 L6 F6""button-send button-send button-send button-send button-send button-send""map map map map map map" "trips-result-blabla trips-result-blabla trips-result-blabla trips-result-blabla trips-result-blabla trips-result-blabla" "trips-result-skys trips-result-skys trips-result-skys trips-result-skys trips-result-skys trips-result-skys" "trips-result-bus trips-result-bus trips-result-bus trips-result-bus trips-result-bus trips-result-bus" "trips-result-train trips-result-train trips-result-train trips-result-train trips-result-train trips-result-train" "transfer_trips_result transfer_trips_result transfer_trips_result transfer_trips_result transfer_trips_result transfer_trips_result";
}

.trips-result-blabla {
    grid-area: trips-result-blabla;
}

.trips-result-skys {
    grid-area: trips-result-skys;
}

.trips-result-bus {
    grid-area: trips-result-bus;
}

.trips-result-train {
    grid-area: trips-result-train;
}

.transfer_trips_result {
    grid-area: transfer_trips_result;
}

.L1 {
    grid-area: L1;
}

.F1 {
    grid-area: F1;
}

.L2 {
    grid-area: L2;
}

.F2 {
    grid-area: F2;
}

.L3 {
    grid-area: L3;
}

.F3 {
    grid-area: F3;
}

.L4 {
    grid-area: L4;
}

.F4 {
    grid-area: F4;
}

.L5 {
    grid-area: L5;
}

.F5 {
    grid-area: F5;
}

.L6 {
    grid-area: L6;
}

.F6 {
    grid-area: F6;
}

.map {
    grid-area: map;
    display: flex;
    justify-content: center;
}

.button-send {
    grid-area: button-send;
    display: flex;
    justify-content: center;
}


/* .trips-result {
    grid-area: trips-result;
} */


/* For presentation only, no need to copy the code below */


/* .grid-container * {
    border: 1px solid red;
    position: relative;
}

.grid-container *:after {
    content: attr(class);
    position: absolute;
    top: 0;
    left: 0;
} */

.data_aux {
    width: 100%;
    display: inline-block;
    margin: 16px 0;
}

.data_aux2 {
    text-align: center;
}

.data {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: gray;
}

.title {
    grid-area: title;
    color: rgb(248, 242, 242);
}

#send_button {
    background-color: darkgreen;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.trips {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.trips tr:nth-child(even) {
    background-color: rebeccapurple;
}

.trips tr:hover {
    background-color: red;
}

.trips th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: grey;
    color: whitesmoke;
}

#google-map {
    width: 500px;
    height: 500px;
}

#content-map {
    color: black;
    font-weight: bolder;
}

.buttons_current_origin_dest {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
    margin-bottom: 22px;
    text-Align: center;
}

.order {
    width: 41%;
    text-align: left;
}

#data_id {
    width: 70%;
}

#data_id2 {
    width: 70%;
}

#oa {
    background-color: red;
}